*{
	margin: 2%;
	font-family: Arial, sans-serif;
	background-color: #f3f3f3;
	list-style:none;
}
.clear {
	clear: both;
}
img{
	border-radius: 50%;
	width: 97%;
}
#headshot {
	width: 13.5%;
	float: left;
	margin-right: 30px;

}
.mainDetails{
	border-bottom: 2px solid  #cf8a05;
	margin: 0px;
}

#name {
	float: left;
	width: 250px;
	margin: 29px 0px ;

}

#contactDetails {
	float: right;
	width: 250px;
	margin: 29px 0px;
	color: #181818;

}

.sectionTitle {
	color: #cf8a05;
	font-style: italic;
	font-size: 16px;
	float: left;
	width: 20%;
	margin: 29.938px 0px;

}

.sectionContent {
	font-size: 16px;
	float: left;
	width: 80%;
	margin: 0%;
	margin-top: 10px;
}
section:not(.notBorder){
	margin: 0px 0px ;
	border-bottom: 1px solid #dedede;

}
article{
	margin: 0;
}
.subDetails{
	margin-top: 0;
	font-style: italic;
	font-size: 15px;
	color: #444444;
	font-family: Helvetica, sans-serif;
}
h2{
	font-family: 'Rokkitt', sans-serif;
	margin-bottom: 0;
	color: #444444;
}
	
ul{
	margin: 0;
	padding: 0;
}
.notBorder{
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}
.keySkills{
	column-fill: balance;
	column-count: 3;

}