*{
	margin: 2%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f3f3f3;
	list-style:none;
}
.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}
.mainDetails{
	border-bottom: 3px solid  #cf8a05;
	margin: 0px;
}

#name {
	float: left;
	width: 250px;
	margin: 29px 0px ;

}

#contactDetails {
	float: right;
	width: 250px;
	margin: 29px 0px;

}

.sectionTitle {
	color: #cf8a05;
	font-style: italic;
	font-size: 16px;
	float: left;
	width: 16%;
	margin: 29.938px 0px;

}

.sectionContent {
	font-size: 16px;
	float: right;
	width: 80%;
	margin: 0%;
	margin-top: 10px;
}
section:not(.notBorder){
	margin: 0px 0px ;
	border-bottom: 1px solid #dedede;

}
article{
	margin: 0;
}
.subDetails{
	margin-top: 0;
	font-style: italic;
	font-size: 15px;
}
h2{
	margin-bottom: 0;
	
}
#list1{
	float: left;
	width: 33%;
}
#list2{
	float: left;
	width: 25%;
}
#list3{
	float: right;
	width: 25%;
}
ul{
	margin: 0;
	padding: 0;
}
.notBorder{
	margin: 0;
}
a{
	text-decoration: none;
	color: black;
}